:root {
    --primary-color: #5ded40;
    --secondary-color: #04d5d9;
    --cursed-color: #fb9c95;
    --blessed-color: #d2ff65;
    --font-color: #e1e1ff;
    --hlfont-color: #040404;
    --bg-color: #161625;
    --heading-color: #818cab;
    --font-size:100%;
    --summary-color: #818cab25;
    --details-color: #818cab11;
}

[data-theme="light"] {
    --primary-color: #a4f095;
    --secondary-color: #abedee;
    --cursed-color: #fb9c95;
    --blessed-color: #d2ff65;
    --font-color: #424242;
    --hlfont-color: #040404;
    --bg-color: #fefbfe;
    --heading-color: #292922;
    --summary-color: #373fff25;
    --details-color: #373fff11;
}

/*Simple css to style the theme switcher like a toggle*/
    .theme-switch-wrapper {
      padding-top: 0.5em;
      display: flex;
      justify-content: space-between;
      line-height: 1em;
      margin-left: 10px;
      font-size: large !important;
    }

    .theme-switch {
      display: inline-block;
      height: 17px;
      position: relative;
      width: 40px;
    }

    .theme-switch input {
      display:none;
    }

    .slider {
      background-color: #ccc;
      bottom: 0;
      cursor: pointer;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      transition: .4s;
    }

    .slider:before {
      background-color: #fff;
      bottom: 2px;
      content: "";
      height: 13px;
      left: 3px;
      position: absolute;
      transition: .4s;
      width: 13px;
    }

    input:checked + .slider {
      background-color: #66bb6a;
    }

    input:checked + .slider:before {
      transform: translateX(23px);
    }

    .slider.round {
      border-radius: 34px;
    }

    .slider.round:before {
      border-radius: 50%;
    }

/*
 *  STYLE 4
 */

 a {
   color: inherit; /* blue colors for links too */
   /* text-decoration: inherit; /* no underline */ */
 }

.itemtype::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0.3);
  background-color: var(--summary-color);
}

.itemtype::-webkit-scrollbar
{
  width: 5px;
  background-color: var(--summary-color);
}

.itemtype::-webkit-scrollbar-thumb
{
  background-color: var(--font-color);
  border: 1px solid var(--font-color);
}





html {
  overflow: hidden; /* Hide scrollbars */
  background: var(--bg-color);
  color: var(--font-color);
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 0.85em;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
}

.menu {
  background: var(--bg-color);
  position: fixed;
  width: 12%;
  height: 100%;
  padding-right: 10px;
}
.menuItem {
  width: 100%;
  text-align: center;
}
.menuText {
  font-size: 0.9em;
  padding: 4px 0px;
}
.menuItem:disabled {
  pointer-events: none;
}
.menuMobile {
  position: relative;
  height: 96vh;
  padding-right: 5px;
  display: none;
  overflow-y: auto;
}

.lightDark {
  grid-template-columns: auto auto auto;
  display: grid;
  align-content: center;
  justify-content: center;
}

.menuItemHalf {
  padding: 0px;
  width: 47%;
  text-align: center;
  margin: 5px 0px;
}
.menuText{
  width: 100%;
  text-align: center;
}
.help {
  font-size: 0.8em;
  padding: 2px 0px;
}
.clear{
}

.iconSmall {
  height: 1em;
}
.iconHead {
  height: 1.2em;
}

.container::-webkit-scrollbar {
  display: none;
}

.container {
  padding-left: 12%;
  display: grid;
  overflow-x: scroll;
  overflow-y: hidden;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.containerPrice {
  grid-template-columns: 280px 280px 330px 330px 320px 280px 280px;
}

.containerNoPrice {
  grid-template-columns: 16.5% 16.5% 16.5% 16.5% 16.5% 16.5%  ;
}

.itemtype {
  max-height: 95vh;
  overflow-y: auto;
  padding: 10px 5px;
  padding-top: 0px;
  padding-bottom: 10px;
}



.itemtitle {
  margin: 0px;
  background: var(--bg-color);
  min-height: 1.1em;
  font-size: 1.3em;
  font-weight: bold;
  display: grid;
  /* justify-items: center; */
  justify-items: start;
  grid-template-columns: auto auto;
  white-space: nowrap;
  padding-bottom: 4px;
}

.iconHead {
  justify-self: end;
  padding-right: 5px;
}

.descriptor {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  font-size: 0.9em;
  justify-items: center;
  align-items: center;
  margin: 2px;
}
.desc {
  margin-bottom: 2px;
}

.desc5 {
  grid-template-columns: 1.5fr 1fr 1fr !important;
}
.uses {
  font-size: 0.7em;
}
.tier {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  border: 1px solid var(--font-color);
  padding: 2px;
}

.five .tier {
  grid-template-columns: 5fr 1fr 1fr 1fr 1fr !important;
}

.tier p {
  justify-self: center;
  align-self: center;
  padding: 0px 3px;
  margin: 1px 0px;
}

.buy {
  grid-column: 2;
  justify-self: end !important;
  text-align: right;
  font-size: 0.9em;
}
.buy1 {
  grid-column: 2;
  justify-self: end !important;
  text-align: center;
  font-size: 0.9em;
}
.buy2 {
  /* display: grid; */
  /* grid-template-rows: 1fr 1fr 1fr 1fr 1fr; */
  grid-column: 3;
  justify-self: end !important;
  text-align: center;
  font-size: 0.9em;
}

.sell {
  grid-column: 3;
  justify-self: end !important;
  text-align: right;
  font-size: 0.9em;
}

.sell1 {
  grid-column: 4;
  justify-self: end !important;
  text-align: center;
  font-size: 0.9em;
}

.sell2 {
  grid-column: 5;
  justify-self: end !important;
  text-align: right;
  font-size: 0.9em;
}


.find {
  opacity: 0%;
  position: fixed;
}

.itemname {
  width: 100%;
  font-weight: bold;
  grid-column: 1;
  justify-self: start !important;
  align-self: center;
  padding-left: 5px;
}

button {
  font-size: 0.8em;
}
button.toggled {
  background-color: var(--secondary-color);
}

.itemname.toggled {
    background-color: var(--secondary-color);;
    color: var(--hlfont-color);
    text-align: right;
}
.searchResult {
    background-color: var(--primary-color) !important;
    color: var(--hlfont-color);
    /* text-align: right; */
}
.searchName {
  background-color: var(--primary-color) !important;
  color: var(--hlfont-color);
}
.priceHighlight {
  background-color: var(--secondary-color) !important;
  font-weight: bold;
  padding: 4px !important;
}
.priceBlessed {
  background-color: var(--blessed-color) !important;
  color: var(--hlfont-color);
  /* text-align: right; */
}
.priceCursed {
  background-color: var(--cursed-color) !important;
  color: var(--hlfont-color);
  /* text-align: right; */
}

.itemname:hover: {
  background-color: #ddd;
}


.colAll {
  grid-row: 1/span 999;
}




  /* #Autocomplete
  ================================================== */

  * { box-sizing: border-box; }
  body {
    font: 16px Arial;
  }
  .autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
    display: inline-block;
    margin-top: 4px;
  }
  input {
    border: 1px solid transparent;
    background-color: var(--bg-color);
    padding: 5px;
    font-size: 16px;
  }
  input[type=text] {
    background-color: var(--bg-color);
    color: var(--font-color);
    width: 100%;
  }
  input[type=submit] {
    background-color: DodgerBlue;
    color: #fff;
  }
  .autocomplete-items {
    position: absolute;
    border: 1px solid var(--font-color);
    /* border-bottom: none;
    border-top: none; */
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
  }
  .autocomplete-items div {
    padding: 4px;
    cursor: pointer;
    background-color: var(--bg-color);
    border-bottom: 1px solid var(--font-color);
  }
  .autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9;
  }
  .autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important;
    color: var(--font-color)
  }
  .mobileOnly {
    display: none;
  }

  /* #Media Queries
  ================================================== */

  /* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
  @media only screen and (min-width: 1001) and (max-width: 1400px) {
    .container {
      grid-template-columns: 30% 30% 40% 40% 30% 30% 30% 30%  ;
    }
    .menu {
      width: 22%;
    }
  }
  @media only screen and (min-width: 480px) and (max-width: 1000px) {
    .container {
      grid-template-columns: 45% 45% 55% 55% 45% 45% 45% 45% ;
    }
    .menu {
      width: 28%;
    }
    .desktopOnly {
      display: none;
    }
    .mobileOnly {
      display: block;
    }
  }

  /* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
  @media only screen and (max-width: 479px) {
    .desktopOnly {
      display: none;
    }
    .mobileOnly {
      display: block;
    }
    body {
      font-size: 0.9em
    }
    button {
      font-size: 0.8em;
    }
    .menu {
      display: none;
    }
    .menuMobile {
      display: block !important;
    }
    .container {
      grid-template-columns: 30% 70% 70% 85% 85% 70% 70% 70%;
      padding: 0px;
      overflow-x: scroll;
    }

    .container::-webkit-scrollbar {
      display: block !important;
    }
  }
